body {
    font-family: 'Work Sans', sans-serif;
}

ul {
    margin: 0;
    padding-left: 25px;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.section {
    max-width: 800px;
    width: 100%;
    height: 500px;
    padding: 27px 45px 33px 48px;
    background-color: #FFB084;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1.1fr 0.8fr 0.9fr;
    gap: 3%;
    color: #000000;
    margin: auto;
    box-sizing: border-box;
}

/* Grid settings and some styles*/
.one {
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    box-shadow: 7px 7px 0px #000000;
}

.two {
    grid-column: 1;
    box-shadow: 7px 7px 0px #000000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.three {
    grid-column: 2/4;
    grid-row: 1/2;
    box-shadow: 7px 7px 0px #000000;
}

.four {
    grid-column: 2;
    grid-row: 2/3;
    box-shadow: 7px 7px 0px #29A71E;   
}

.five {
    grid-column: 3;
    grid-row: 2/4;
    box-shadow: 7px 7px 0px #E13535;
}

.six {
    grid-column: 2;
    grid-row: 3/5;
    box-shadow: 7px 7px 0px #3675B0;
    
}

.seven {
    grid-column: 3;
    grid-row: 4;
    box-shadow: 7px 7px 0px #000000;
}

/* grid Settings end */

/* card styles */

.age-pronc {
    display: flex;
    justify-content: space-between;
}
.card {
    padding: 15px 25px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;
    height: 100%;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
}

.title.card__main-title {
    font-size: 24px;
    line-height: 28px;
}

.about {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.other {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.bold {
    font-weight: 600;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.text.five__text {
    font-weight: 700;
}

.title.green {
    color: #29A71E;
}

.title.red {
    color: #E13535;
}

.title.blue {
    color: #3675B0;
}