body {
    font-family: 'Public Sans', sans-serif;
    
}

.main-content {
    width: 1000px;
    padding: 64px 45px 110px 45px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #e5e5e5;
}

.flex {
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #ADADAD;
    padding: 7px 4px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
       
}

.input.date {
    background-color: #efefef;

}

.input.date.date-grey {
    color: #747474;
}

.input.exaple {
    color: #747474;
}

.input.blue-text {
    color: #0050D8;
}

.checkbox {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    
}
.label.checkbox-label {
    cursor: pointer;
    display: flex;
}

.label.checkbox-label::before {
    border: 1px solid #ADADAD;
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-right: 8px;
    background-color: white;
}

.checkbox:checked+.label.checkbox-label::before {
    background-color: #FF00FF;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-position: right 50% top 50%;
}

.form-row-column.checkbox-column {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.back-arrow {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: right 4% bottom 50%;
}

.search {
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: right 3% bottom 50%;
}

.star {
    color: #D83933;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #171717;
    margin-bottom: 80px;
}

.required {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #171717;
    margin-bottom: 24px;
}

.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #171717;
    margin-bottom: 32px;
}

.label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    margin-bottom: 8px;
}

.label.checkbox-label {
    margin-bottom: 0px;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 22px;
    max-width: 100%;
}

.form-row-column {
    display: flex;
    flex-direction: column;
    flex: 0 1 392px;
    max-width: 392px;
}

.line {
    border: 1px solid #D1D1D1;
    margin: 32px 0px;
    background-color: #D1D1D1;
}

section .last-row {
    margin-bottom: 0px;
}

.line.last-line {
    margin-bottom: 16px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
}

.btn {
    width: 69px;
    height: 40px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    background: #0050D8;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}




