:root {
    --hover-color:#fac800;
    --main-text-color: #ffffff;


}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-image: url(../img/back.jpg);
    background-repeat: repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

/* HEADER START */

header {
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    max-width: 1500px;
    margin: 0px auto;
}


.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.nav-link {
    font-weight: 600;
    font-size: 24px;
    color: var(--main-text-color);
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--hover-color);
}

.message-button {
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: var(--hover-color);
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--main-text-color);
    text-transform: uppercase;
    text-align: center;
}

/* HEADER END */

/* MAIN CONTENT START*/

.main-content {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

/* BANNER START*/

.banner {
    padding: 0px 150px;
    box-sizing: border-box;
}
.banner-title{
    font-weight: 700;
    font-size: 54px;
    line-height: 70px;
    text-align: center;
    color: var(--main-text-color);
}

.course {
    color: var(--hover-color);
}

.banner-text {
    margin-top: 30px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: var(--main-text-color);
}

.banner-link {
    color: var(--main-text-color);
    text-decoration: underline;
}

.banner-link:hover {
    color: var(--hover-color);
}

/* BANNER END */

/* CARD START */

.cards-main-title {
    font-weight: 600;
    font-size: 32px;
    margin-top: 50px;
    padding: 20px 45px;
    box-sizing: border-box;
    color: var(--main-text-color);
    
}

.cards {
    margin-top: 30px;
    padding: 10px 75px;
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    justify-content: start;
    flex-wrap: wrap;
    gap: 5%;
}

.card {
    background-color: var(--main-text-color);
    width: 30%;
    border-radius: 30px;
    height: 400px;
    box-shadow: 0px 4px 57px rgb(0 0 0 / 75%);
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    transition: all 300ms ease;
    overflow: hidden;
}

.page-1 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/page-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.page-2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/page-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.page-3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/page-3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.page-4 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/page-4.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.page-5 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/page-5.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.page-6 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/page-6.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.page-6-2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/page-6-1.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.page-7 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/page-7.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.page-8 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/page-7.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.page-8-2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/page-8-2.png);
    background-repeat: no-repeat;
    background-size: cover;

}


.card:hover {
    box-shadow: 0px 0px 75px var(--hover-color);
    border: 1px solid var(--hover-color);
  
}

/* .card:hover .card-title
 {
    opacity: 0;
}

.card:hover .card-text {
    opacity: 0;
}

.card:hover .card-item {
    opacity: 0;
} */

.card-item {
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
}


.card-title {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    transition: all 500ms ease;
}

.card-text {
    margin-top: 33px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    transition: all 500ms ease;
}

.card-down {
    width: 90%;
    position: absolute;
    bottom: 20px;
    transition: all 500ms ease;
    z-index: 2;
}

.card-line {
    width: 100%;
    border-bottom: 5px solid #080fdab3;
}

.card-status {
    padding-top: 20px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 30px;
}

.checked {
    font-weight: 700;
    color: #2dac2d;
    text-transform: uppercase;
}

.developed {
    font-weight: 700;
    color: #e42a2a;
    text-transform: uppercase;
}

.checking {
    font-weight: 700;
    color: var(--hover-color);
    text-transform: uppercase;
}
/* CARD END */

/* MAIN CONTENT END */

/* FOOTER START */

.footer {
    padding: 0px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.footer-center {
    width: 52%;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.autor {
    width: 15%;
}




