body {
    font-family: 'Rosario', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

h2, h3, p {
    margin: 0;
}
 a {
    text-decoration: none;
 }

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}


.header {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 99;
    background-color: #FFFFFF;
}

.nav-menu {
    display: flex;
    background-color: #000000;
    width: 100%;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0px 25px 0px 0px;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

.gallery {
    margin: 35px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

.gallery-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
}

.gallery img {
    width: 100%;
    height: 100%;
}

.services {
    margin-top: 150px;
    display: flex;    
    justify-content: space-between;
    box-sizing: border-box;
}

.services-left {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin-left: 70px;
   padding-top: 160px;
   padding-bottom: 100px;
   width: 50%;
   padding: 150px;
   box-sizing: border-box;
}

.services-title {
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

.services-item {
    width: 50%;
    text-align: center;
   
}

.services-left img {
    width: 90%;
}

.services-right {
    width: 50%;
    box-sizing: border-box;
}
.services-right img {
    width: 100%;
    height: 95%;
}

.team {
    text-align: center;
    margin-top: 120px;
}

.team-title {
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    color: #000000;
    margin-bottom: 40px;
}

.team-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all 500ms;
    padding: 0px 66px;
    box-sizing: border-box;
}

.team-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    margin-right: 56px;
    text-align: center;
    cursor: pointer;
    transition: all 500ms;
    box-sizing: border-box;
    position: relative;
 
}

.team-card.last {
    margin-right: 0px;
}

.team-card>img {
    width: 100%;
    height: 100%;
}

.team-card-name {
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFAFA;
    background-color:rgba(163, 83, 10, 0.7);
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    width: 100%;
    height: 23%;
    opacity: 0;
    transition: all 500ms;
    position: absolute;
    bottom: 0;
}

.team-card:hover > .team-card-name {
    opacity: 1;
    filter: brightness(100%);
}

.team-list:hover > .team-card {
    filter: brightness(50%);
}

.team-list .team-card:hover {
    filter: brightness(100%)
}

.review {
    padding: 0px 162px;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    margin-top: 150px;
}

.form-container {
    max-width: 60%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
}

.footer-title {
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    color: #000000;
    margin-bottom: 17px;
    width: 100%;
}

.form {
    background-color: #E5E5E5;
    padding: 30px 35px;
}
.form-header {
    display: flex;
    justify-content: space-between;
}

.form-header input {
    height: 80px;
}

.input-name {
    width: 40%;
    margin-right: 3%;
    display: flex;
}

.input-email {
    width: 57%;
    display: flex;
}

.input-message {
    margin-top: 45px;
    height: 210px;
    width: 100%;
}

input,
textarea,
textarea::placeholder {
    font-family: 'Rosario', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    border-style: none;
    
}

.input-email, 
.input-name,
.input-message {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding-left: 10px;
    color: rgba(0, 0, 0);
    outline: none;
}

.input-email:focus,
.input-name:focus,
.input-message:focus {
box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
}

.contact {
    padding: 95px 200px 30px 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    align-items: top;
    color: #000000;
}

.contact a {
    color: #000000;
}

.contact .normal-span {
    font-style: normal;
    font-weight: 700;
}

.contact .hours-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.social img {
    margin-right: 10px;
    margin-left: 50px;
}

.social-item {
    text-align: left;
}



/* ANIMATION START */
/* Gallery */
.first-left {
    opacity: 0;
    transform: translateX(-100%);
    animation: income 1s ease-out forwards;
}

.first-right {
    opacity: 0;
    transform: translateX(100%);
    animation: income 1s ease-out forwards;
}

.second-left {
    opacity: 0;
    transform: translateX(-100%);
    animation: income 1s ease-out 1s forwards;
}

.second-right {
    opacity: 0;
    transform: translateX(100%);
    animation: income 1s ease-out 1s forwards;
}



@keyframes income {
   to {
        opacity: 1;
        transform: translateX(0%)
    }
}

/* Services */

/* Easy service animation */

.services-left {
    animation: rotate-1 10s infinite linear;
}

@keyframes rotate-1 {
    from {
        transform: rotate(-360deg);
    }
}

.services-item {
    animation: rotate-item 10s infinite linear;
}

@keyframes rotate-item {
    from {
        transform: rotate(360deg);
    }
}

/* Hard service animation */

/* .services-item-1 {
    animation: rotate-1 10s infinite linear;

}
.services-item-2 {
    animation: rotate-2 10s infinite linear;

}
.services-item-3 {
    animation: rotate-3 10s infinite linear;

}
.services-item-4 {
    animation: rotate-4 10s infinite linear;

}

@keyframes rotate-1 {
    25% {
        transform: translate(445px, 0);
    }
    50% {
        transform: translate(445px, 420px);
    }
    100% {
        transform: translate(0, 420px);
    }
}

@keyframes rotate-2 {
    25% {
        transform: translate(0px, 420px);
    }

    50% {
        transform: translate(-455px, 420px);
    }

    100% {
        transform: translate(-455px, 0px);
    }
}

@keyframes rotate-3 {
    25% {
        transform: translate(0px, -420px);
    }

    50% {
        transform: translate(455px, -420px);
    }

    100% {
        transform: translate(455px, 0px);
    }
}

@keyframes rotate-4 {
    25% {
        transform: translate(-455px, 0px);
    }

    50% {
        transform: translate(-455px, -420px);
    }

    100% {
        transform: translate(0px, -420px);
    }
} */


/* ANIMATION END */

