:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-work-sans: 'Work Sans', sans-serif;
    --main-white: #FFFFFF;
    --main-orange:#FFB742;
    --hire-me-color: #212529;
    --bg-item-color: #292B2E;

}

body {
    background-color: #212529;

}

a {
    text-decoration: none;
}

.header {
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 49px;
    margin-top: 17px;
    font-family: var(--font-poppins);
    box-sizing: border-box;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 429px;
}

.nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: var(--main-white)
}

.nav-link:hover {
    color: var(--main-orange);
}

.hire-me-button {
    font-family: var(--font-poppins);
    width: 121px;
    height: 54px;
    background-color: var(--main-orange);
    color: var(--hire-me-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 100ms ease-in;
}

.hire-me-button:hover {
    color: var(--main-white);
}

.banner {
    margin-top: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 238px;
    box-sizing: border-box;
    font-family: var(--font-inter);
    text-align: center;
}

.banner-name {
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    text-decoration-line: underline;
    color: var(--main-orange);
}

.banner-greating {
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    color: var(--main-white);
}

.banner-profession {
    font-weight: 700;
    font-size: 48px;
    line-height: 91px;
    text-transform: capitalize;
    color: var(--main-white);
}

.banner-glorification {
    font-weight: 400;
    font-size: 24px;
    line-height: 51px;
    color: var(--main-white);
    text-transform: capitalize;
    margin-top: 25px;
}

.avatar {
    margin-top: 22px;
}

.achievement {
    margin-top: 136px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 72px;
    box-sizing: border-box;
    font-family: var(--font-inter);
}

.achievement-item {
    /* width: 416px; */
    width: 32%;
    height: 120px;
    background-color:var(--bg-item-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    box-sizing: border-box;
    transition: all 150ms ease-in;
   
}

.inside-text {
    text-align: center;
    font-weight: 700;
}

.achievement-title {
    font-size: 32px;
    line-height: 40px;
    color: var(--main-orange);
} 

.achievement-text {
    font-size: 16px;
    line-height: 31px;
    color: var(--main-white);
}

.achievement-item:hover {
    cursor: pointer;
    background: linear-gradient(to right, #FFB742, rgba(255, 123, 66, 0.76));
}

.achievement-item:hover .achievement-title,
.achievement-item:hover .achievement-text {
    color: var(--hire-me-color);
}

.about-me {
    margin-top: 221px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 51px;
    box-sizing: border-box;
}
.about-me-container {
    font-family: var(--font-poppins);
}

.top-label {
    display: inline-block;
    padding: 6px 25px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--main-orange);
    background-color: #ffffff08;
    border-radius: 50px;
}

.about-me-container .about-me-title {
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: var(--main-white);
    margin-top: 10px;
    box-sizing: border-box;
}

.about-me-text {
    margin-top: 30px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D5D5D5;
}

.about-me-container .hire-me-button {
    margin-top: 55px;
}

.about-me div:first-child {
    margin-right: 5%;
    max-width: 45%;
    box-sizing: border-box;
}

.about-me .about-me-container {
    max-width: 50%;
}

.about-me img {
    max-width: 100%;
}


.skills {
    font-family: var(--font-poppins);
    margin-top: 18px;
    box-sizing: border-box;
    padding: 0px 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.skills-description {
    max-width: 48%;
    margin-right: 5%;
}

.skills-title {
    max-width: 80%;
    font-family: var(--font-roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: var(--main-white);
}

.skills-text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--main-white);
}

.skills-description .hire-me-button {
    margin-top: 63px;
}


.skills-icon {
    max-width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 176px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383E45;
    padding: 16px;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 14px;
    transition: all 150ms ease-in;
}

.icon-container:hover {
    cursor: pointer;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 183, 66, 0.5);
   
}

.icon-container:first-child {
    margin-bottom: 16px;
}


.figma {
    padding: 16px 24px;
}
.my-works {
    margin-top: 137px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-poppins);
    padding: 0px 103px;
    box-sizing: border-box;
}

.my-works-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: var(--main-white);
    font-family: var(--font-roboto);
}

.my-works-nav {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 652px;
}

.my-works-nav li {
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: var(--main-white);
    transition: all 100ms ease-in;
}

.my-works-nav li:hover {
    color: var(--hire-me-color);
    background-color: var(--main-orange);
    cursor: pointer;
}

.my-works-example {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}


.example-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;   
}

.example-section .first {
    margin-bottom: 10%;
    max-width: 100%;
}

.example-section .last {
    max-width: 100%;
}

.reviews {
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-poppins);
    padding: 0px 112px;
    box-sizing: border-box;
}

.reviews-title {
    margin-top: 8px;
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 39.2896px;
    line-height: 46px;
    text-transform: capitalize;
    color: var(--main-white);

}

.cards {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

.cards img {
    max-width: 31%;
}

footer {
    margin-top: 253px;
    background-color: #1C1C1C;
    padding: 148px 50px 93px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-work-sans);
}

footer>div {
    max-width: 22%;
}
.name {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: var(--main-orange);
}

.footer-profession {
    margin-top: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #D4D4D4;
}

.footer-list-title {
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: #F5FBF2;
}

.useful-link, 
.social-link,
.enter-text {
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
    color: #7B7B7B;
}

.links {
    margin-top: 13px;
}

.useful-link:hover,
.social-link:hover {
    color: var(--main-orange);
}