body {
    font-family: 'Inter', sans-serif;
}
table{
    margin-top: 30px;
    border-collapse: collapse;
    border: 3px solid #000;
    width: 100%;
    height: 200px
}
td {
    border: 2px solid #000;
} 

.title, 
.crest, 
.wish {
    text-align: center;
}

.wish {
    margin-top: 50px;
}

.footer {
    margin-top: 710px;
}

.planet.mercurio,
.planet.mars,
.planet.jupiter,
.planet.saturn {
    text-align: center;
}

.planet.earth,
.planet.neptune {
    text-align: right;
}

.planet-name.venus,
.planet-name.uranus {
    text-align: right;
}

.planet-name.saturn,
.planet-name.jupiter,
.planet-name.earth {
    text-align: center;
}

.planet-text.earth,
.planet-text.jupiter {
    text-align: center;
}
