@font-face {
    font-family: anakinmono;
    src: url(../assets/fonts/anakinmono.ttf);
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: anakinmono;
    border-radius: 30px;
    padding: 30px 10px 20px 10px;
    text-align: center;
    background-image: url(../assets/image/card_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 90%;
    transition: 200ms linear;
    box-sizing: border-box;

}

.card:hover {
    transform: scale(1.1)
    
}

.card__name {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    color: rgba(242, 63, 31, 0.958);
}

.card__abilities{
    font-weight: 300;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(6, 4, 154, 0.878);
    margin-bottom: 30px;
}

.card__abilities div {
    margin-bottom: 5px;
}


.card__left-side,
.card__right-side {
    text-align: start;
    width: 50%;
}

.card__link {
    text-decoration: none;
    transition: 200ms linear;
    font-size: 26px;
    margin-bottom: 20px;

}

.card__link:hover {
    transform: scale(1.2);
}

.card__image {
    width: 200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__image:after {
    content: '';
    width: 100%;
}
