 body {
     margin: 0 auto;
     font-size: 24px;
     font-family: 'Roboto', sans-serif;
     background-image: url(../img/main_back.jpg);
     background-size: 100%;
 }

 input {
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
    box-sizing: border-box;
 }


 .currency_option li {
    list-style: none;
    font-size: 1.1rem;
    cursor: pointer;

 }

 .currency_option li:hover {
    color: blue;
    font-size: 1.2rem;

 }

 .container {
     width: 80%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
 }


 .header {
     display: flex;
     justify-content: space-between;
     height: 100px;
     padding: 20px 50px;
     align-items: center;
     background-color: antiquewhite;
     margin-bottom: 30px;
     font-size: 50px;
 }

 .header_logo img {
     width: 50%;
 }

 .wrapper {
     border-radius: 20px;
     padding: 3% 2% 2% 2%;
     display: flex;
     width: 30%;
     flex-direction: column;
     height: 100%;
     background-color: aliceblue;
 }
 .wrapper__currency_container {
    position: relative;
 }
 .wrapper__currency_container ul {
    position: absolute;
    top: 3px;
    left: 0;
    padding: 0px 0px 0px 5px;
    background-color: white;
    z-index: 99;
    width: 99%;
    max-height: 500px;
    overflow: auto

 }

.wrapper__currency_container input {
    width: 100%;
    height: 30px;
}

 .wrapper__dropdown {
    position: absolute;
    right: 2%;
    top: 15%;
    z-index: 98;
    cursor: pointer;
    width: 5%;
 }

 .wrapper_button {
     order: 5;
     width: 10%;
     cursor: pointer;
     margin-top: 10px;
 }

 .wrapper_corrency1 {
     order: 1;
 }

 .wrapper_corrency2 {
     order: 3;
 }

 .order1 {
     order: 1 !important;
 }

 .order3 {
     order: 3 !important;
 }

 input[type="number"] {
     order: 2;
     width: 30%;
     height: 30px;
     margin: 10px 0px;
 }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 .output {
    overflow: hidden;
    margin: 10px 0px;
    order: 4;
    width: 30%;
    height: 33px;
    border-radius: 10px;
    background-color: white;
    padding: 1px 5px;
    box-sizing: border-box;

 }

 .grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 10px;
     width: 60%;
 }

 .grid_item {
    font-size: 0.9rem;
     display: flex;
     padding: 10px;
     justify-content: space-between;
     text-align: center;
     background-color: aliceblue;
     border-radius: 20px;
     cursor: pointer;

 }

.grid_item:hover {
    background-color: rgb(76, 154, 223);
    color: white;
    font-size: 1.1rem;
  

}