body {
  font-family: 'Roboto', sans-serif;
}

p, h2{
  margin: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

}

.right-part {
  background-color: #E5E5E5;
  width: 45%;
  background-image: url(../img/aside-backg.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.left-part {
  width: 55%;
  padding: 50px 100px;

}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 81px;
}

.header-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #4743E0;
}

.cab-icon {
  margin-left: 10px;
}

.banner {
  display: flex;
  align-items: center;
}

.banner-title {
  font-weight: 700;
  font-size: 54px;
  line-height: 68px;
  color: #42505C;
}

.banner-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #404040;
  opacity: 0.99;
  width: 73%;
}

.terms-link {
  text-decoration: none;
  color: #4743E0;
}

.line {
  width: 100%;
  border: 1px dashed #000000;
  opacity: 0.2;
  margin: 40px 0px;
}

.option {
  opacity: 0.34;
}

.red-text {
  opacity: 0.34;
  color: #FF0000;
}

.radio-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.radio-list input {
  appearance: none;
  display: none;
  margin: 0;
  padding: 0;
}

.radio-label {
  width: 22%;
  height: 52px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  opacity: 0.5;
  letter-spacing: 0.25px;
  cursor: pointer;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.checkbox input {
  width: 24px;
  height: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.checkbox label {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #404040;
}

.input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #333333;
}

.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  background-color: #4743E0;
  border: none;
  width: 102px;
  height: 48px;
  cursor: pointer;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  
}

.input {
  width: 47%;
  margin-bottom: 27px;
}

.input.last-row {
  margin-bottom: 0px;

}

.input-title {
  display: flex;
  justify-content: space-between;
}

div.input input {
  outline: none;
  width: 100%;
  padding: 15px 17px;
  box-sizing: border-box;
  margin-top: 15px;
  border: 1px solid #D1D1D1;
}

div.input input:focus, 
input[type="radio"]:checked + label{
  color: #4743e0;
  border: 1px solid #4743E0;
  box-shadow: 0px 0px 14px rgba(71, 67, 224, 0.2);
  opacity: 1;
  box-sizing: border-box;
}

.button:hover {
  box-shadow: 0px 0px 14px rgba(71, 67, 224, 0.2);
  box-sizing: border-box;
}

