@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
:root {
    --main-yellow-text: #E8C23E;
}

body {
font-family: 'Roboto', sans-serif;
background-color: #E5E5E5;
}


.header {
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    padding-bottom: 31px;
    padding-top: 25px;
}


.blue {
    color: #3E45E8;
}

.yellow {
    color: var(--main-yellow-text);
}

.banner {
    background-image: url(../image/banner.png);
    width: 100%;
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 195px;
    padding-left: 80px;
    box-sizing: border-box;
    

}

.banner-text {
    background-image: url(../image/flag.png);
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 48px;
    line-height: 157.3%; 
    color: #FFFFFF;
    padding-left: 38px;
    width: 73%;
    box-sizing: border-box;
    
}

.main-content {
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 72px;
}

.main-content-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    color: #000000;
    box-sizing: border-box;
    margin: auto;
}

.line {
    box-sizing: border-box;
    margin-top: 21px;
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    box-sizing: border-box;
    overflow: hidden;
    width: 400px;
    margin-top: 33px;
    height: 480px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 4px 57px rgb(0, 0, 0, 25%);
    
}

.card-image {
    width: 100%;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 157.3%;
    color: #1E8DF2;
    margin-left: 10px;
    margin-top: 16px;
    margin-bottom: 0px;
}

.card-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 157.3%;
    color: var(--main-yellow-text);
    margin-left: 10px;
    margin-right: 44px;
    margin-top: 8px;
}
.map {
    text-align: center;
}
.map-title {
    
    margin-top: 74px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    color: #000000;
    margin-top: 74px;
    margin-bottom: 21px;
}
.map-line {
   margin: auto;
}
.map-image {
    margin: 41px auto;
}



.button {
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 64px;
    line-height: 157.3%;
    width: 591px;
    background-color: #2A61F0;
    color: #FFFFFF;
    margin: auto;
    box-sizing: border-box;
    padding: 10px 92px;
}

.footer {
    background-color: #2F4A4B;
    margin-top: 31px;
}

.footer-title {
    text-align: center;
    font-family: 'M PLUS 1';
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    margin: auto;
}

.contacts {
    font-family: 'Marcellus SC', serif;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 31px;
}

.tel,
.mail {
    text-align: center;
    text-decoration: none;
    color: #A89D9D;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
}

.tel {
    margin-top: 21px;
}

.list-item {
    list-style: none;
    padding-right: 20px;
    
    
}
.social-list {
    margin: 26px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    
}

.figure-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.diya {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    box-sizing: border-box;
    width: 512px;
    height: 512px;
}

.diya-vector {
    margin: 128px 100px 32px 100px;
}

.diya-flag {
    margin-bottom: 109px;
}

.square-and-glyph {
    background-color: #FFCE22;
    width: 512px;
    height: 512px;
    position: relative;
}

.glyph {
    position: absolute;
    left: 58px;
    top: 144px;
}

.circle {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 512px;
    height: 512px;
    background-color: #FFFFFF;
    padding: 34px;
}

.yellow-circle {
    background-color: #FFCE22;
    border-radius: 50%;
    width: 444px;
    height: 444px;
    box-sizing: border-box;
    
}
.blue-circle {
    position: absolute;
    left: 6%;
    right: 6.64%;
    top: 6.64%;
    bottom: 47.75%;

}

.glyph-circle {
    position: absolute;
    left: 14.45%;
    right: 15.54%;
    top: 48%;
    bottom: 10.24%;
}
