html {
    font-size: 20px;
}
body, ul{
    margin: 0;
    padding: 0;
}

.navigation {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.navigation li {
    font-size: 2rem;
    list-style: none;
    background-color: blue;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: background-color 1s, color .5s;
}

.navigation li:hover {
    color: black;
    background-color: yellow;
}
