:root {
    --bcg-color-dark-theme: #151515;
    --main-color-dark-theme: #FF8C42;
    --second-color-dark-theme: #FFDDC8;
    --main-color-white-theme: #FF5B00;
    --second-color-white-theme: #7B3000;
    --btn-text-color: #ffffff;
    --general-font-family: 'Quicksand', sans-serif;
    --menu-font-family: 'Kosugi', sans-serif;
    --menu-title-font-family:'Kaushan Script', cursive;
}

/* GENERAL STYLE */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--bcg-color-dark-theme);
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
 
}
li {
    list-style: none;
}

.container {
    color: var(--main-color-dark-theme);
    font-family: var(--general-font-family);
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.button {
    background-color: var(--main-color-dark-theme);
    color: var(--btn-text-color);
}


/* MAIN PAGE STYLE */
.main-page {
    padding: 45px 100px 60px 85px;

}

/* Main page HEADER style */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.header__logo {
    display: flex;
    align-items:end;
}

.logo-text {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.25;
}

.header__nav li {
    display: inline-block;  
    margin-left: 35px;  
    text-align: center;
    padding: 5px 10px;
}

.header__nav-link {
    text-decoration: none;
    color: var(--main-color-dark-theme);
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.25;
}

/* Main page HEADER style */
.section {
    box-sizing: border-box;
}

.main-page__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Main page LEFT-SIDE style */

.main-page__left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 160px;
}

.main-page__title {
    font-weight: 600;
    font-size: 6rem;
    line-height: 1.25;
    margin-bottom: 70px;
}

.main-page__text {
    max-width: 380px;
    width: 100%;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1.25;
    text-transform: capitalize;
    margin-bottom: 70px;
;
} 

.main-page__form {
    height: 48px;
    width: 100%;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
 
}

.main-page_input {
    max-width: 283px;
    width: 100%;
    border: 4px solid var(--main-color-dark-theme);
    background: none;
    border-radius: 5px;
    height: 100%
}

.main-page__btn_form {
    max-width: 198px;
    width: 100%;
    font-family: inherit;
    height: 118%;
    border-radius: 5px;
    margin-left: 8px;
    padding-right: 5px;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    text-align: end;
    cursor: pointer;
    background-image: url(../img/main-page/search-icon.svg);
    background-repeat: no-repeat;
    background-position: top 60% left 3%;
    border-style: solid;   
    border-width: 0px;
    display: inline-block;
}




/* Main page RIGHT-SIDE style */

.main-page__borger-img {
    max-width: 100%;
    width: 900px;
}

.main-page__right-side {
    position: relative;
}

.main-page__toggle-btn {
    position: absolute;
    width: 89px;
    height: 71.21px;
    left: 88%;
    top: 105%;
    cursor: pointer;
}

.main-page__btn_main-btn {
    font-family: inherit;
    max-width: 198px;
    width: 100%;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.25;
    height: 68px;
    cursor: pointer;
    border-style: solid;
    border-width: 0px;
    display: inline-block;
    border-radius: 5px;
}






