:root {
    font-size: 8px;
}
/* General styles */
body {
    font-family: 'Rosario', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

h2, h3, p {
    margin: 0;
}
 a {
    text-decoration: none;
 }

.container {
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Header styles */

.header {
    display: flex;
    max-width: 1620px;
    width: 100%;
    height: 129px;
    position: fixed;
    top: 0px;
    z-index: 99;
    background-color: #FFFFFF;
    box-sizing: border-box;

}

.nav-menu {
    display: flex;
    background-color: #000000;
    width: 100%;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;
    list-style: none;
    padding-right: 30px;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.2;
    color: #FFFFFF;
}

/* Burger Style */

.burger {
    height: 30px;
    width: 30px;
    position: relative;
    overflow: hidden;
    display: none;
}

.burger__item {
    width: 30px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    position: absolute;
}

.burger__item:nth-of-type(2) {
    top: calc(50% - 7px);
}

.burger__item:nth-of-type(3) {
    top: calc(50% + 7px);
}

/* Gallery page styles */

.gallery {
    padding: 200px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    margin-bottom: 100px;
}

.gallery-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
}

.gallery img {
    width: 100%;
}

/* Sevices page styles */

.services {
    display: flex;    
    box-sizing: border-box;
    padding-top: 25px;
}

.services-left {
    width: 50%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 150px;
}

.services-title {
    font-style: italic;
    font-weight: 700;
    font-size: 5rem;
    line-height: 1.2;
    color: #000000;
}

.services-item {
    text-align: center;
  }

.services-left img {
    width: 70%;
}

.services-right {
    width: 50%;
}

.services-right img {
    width: 100%;
}

/* Team section styles */

.team {
    text-align: center;
}

.team-title {
    padding-top: 142px;
    font-weight: 700;
    font-size: 9.6rem;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 50px;
}

.team-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all 500ms;
    padding: 0px 66px;
    box-sizing: border-box;
}

.team-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    margin-right: 56px;
    text-align: center;
    cursor: pointer;
    transition: all 500ms;
    box-sizing: border-box;
    position: relative;
 
}

.team-card.last {
    margin-right: 0px;
}

.team-card>img {
    width: 100%;
    height: 100%;
}

.team-card-name {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFAFA;
    background-color:rgba(163, 83, 10, 0.7);
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    width: 100%;
    height: 23%;
    opacity: 0;
    transition: all 500ms;
    position: absolute;
    bottom: 0;
}

.team-card:hover > .team-card-name {
    opacity: 1;
    filter: brightness(100%);
}

.team-list:hover > .team-card {
    filter: brightness(50%);
}

.team-list .team-card:hover {
    filter: brightness(100%)
}

/* Review styles */

.review {
    padding-top: 100px;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.form-container {
    max-width: 50%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
}

.form-title {
    font-style: italic;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.2;
    text-align: center;
    color: #000000;
    margin-bottom: 17px;
    width: 100%;
}

.form {
    background-color: #E5E5E5;
    padding: 30px 35px;
}
.form-header {
    display: flex;
    justify-content: space-between;
}

.form-header input {
    height: 80px;
}

.input-name {
    width: 40%;
    margin-right: 3%;
    display: flex;
}

.input-email {
    width: 57%;
    display: flex;
}

.input-message {
    margin-top: 45px;
    height: 210px;
    width: 100%;
}



input,
textarea,
textarea::placeholder {
    font-family: 'Rosario', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.2;
    border-style: none;
}

.input-email, 
.input-name,
.input-message {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.2;
    padding-left: 10px;
    color: rgba(0, 0, 0);
    outline: none;
}

.input-email:focus,
.input-name:focus,
.input-message:focus {
box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
}

.map {
    width: 45%;
    overflow: hidden;
}

.map iframe {
    width: 100%;
    height: 538px;
}

/* Footer styles */



.contact {
    padding: 0% 8%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
    align-items: top;
    color: #000000;
}

.contact a {
    color: #000000;
}

.contact .normal-span {
    font-style: normal;
    font-weight: 700;
}

.contact .hours-title {
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.22;
}


.social img {
    margin-right: 10px;
    margin-left: 50px;
}

.social-item {
    text-align: left;
}



/* ANIMATION START */
/* Gallery */
.first-left {
    opacity: 0;
    transform: translateX(-100%);
    animation: income 1s ease-out forwards;
}

.first-right {
    opacity: 0;
    transform: translateX(100%);
    animation: income 1s ease-out forwards;
}

.second-left {
    opacity: 0;
    transform: translateX(-100%);
    animation: income 1s ease-out 1s forwards;
}

.second-right {
    opacity: 0;
    transform: translateX(100%);
    animation: income 1s ease-out 1s forwards;
}


@keyframes income {
   to {
        opacity: 1;
        transform: translateX(0%)
    }
}

/* service animation */

.services-item-1 {
    animation: rotate-1 10s infinite linear;
    top: 15%;
    left: 0;

}
.services-item-2 {
    animation: rotate-2 10s infinite linear;
    top: 15%;
    right: 0;


}
.services-item-3 {
    animation: rotate-3 10s infinite linear;
    bottom: 15%;
    left: 0;

}
.services-item-4 {
    animation: rotate-4 10s infinite linear;
    bottom: 15%;
    right: 0;

}

@keyframes rotate-1 {
    25% {
        transform: translate(100%, 0);
    }
    50% {
        transform: translate(100%, 100%);
    }
    75% {
        transform: translate(0, 100%);
    }
}

@keyframes rotate-2 {
    25% {
        transform: translate(0, 100%);
    }

    50% {
        transform: translate(-100%, 100%);
    }

    75% {
        transform: translate(-100%, 0);
    }
}

@keyframes rotate-3 {
    25% {
        transform: translate(0, -100%);
    }

    50% {
        transform: translate(100%, -100%);
    }

    75% {
        transform: translate(100%, 0);
    }
}

@keyframes rotate-4 {
    25% {
        transform: translate(-100%, 0);
    }

    50% {
        transform: translate(-100%, -100%);
    }

    75% {
        transform: translate(0, -100%);
    }
}


/* ANIMATION END */

/* Media */

/* From 992px to 1280px */

@media screen and (max-width: 1280px) {
    :root {
        font-size: 6px;
    }

    .social img {
        margin-left: 40px;
    }

    .services-left img {
        width: 60%;
    }

    .map iframe {
        height: 508px;
    }

}

/* Form 768px to 992px */

@media screen and (max-width: 992px) {
    :root {
        font-size: 6px;
    }
    /* Header style */

    .header>a {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 100%;

    }

    .header {
        height: 95px;
    }

    .burger {
        display: flex;
    }

    .nav-link {
        display: none;
    }

    /* Gallery styles */
    .gallery {
        padding: 200px 30px 0px 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2%;
        margin-bottom: 100px;
    }

    .gallery-left {
        order: 1;
    }

    .gallery-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3%;
        order: 3;
        grid-column: 1/3;
    }

    .gallery-right {
        order: 2;
    }

    /* For animation gallery */

    .second-left {
        opacity: 0;
        transform: translateX(-100%);
        animation: income 1s ease-out forwards;
    }

    .second-right {
        opacity: 0;
        transform: translateX(100%);
        animation: income 1s ease-out forwards;
    }

    /* Services style */

   .services {
       display: flex;
       flex-direction: column-reverse;
       box-sizing: border-box;
       padding-top: 25px;
   }

   .services-left {
       width: 100%;
       padding-top: 20px;
   }

   .services-left img {
       width: 50%;
   }

   .services-title {
    font-size: 6rem;
   }

   .services-right {
       width: 100%;
   }

   /* Teams styles */


   .team-list {
       list-style: none;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       width: 100%;
       transition: all 500ms;
       box-sizing: border-box;
   }
   
   .team-title {
       padding-top: 142px;
       font-weight: 700;
       font-size: 7.8rem;
       line-height: 1.2;
       color: #000000;
       margin-bottom: 50px;
   }

   .team-card {
       display: flex;
       flex-direction: column;
       width: 45%;
       padding: 0px 0px;
       margin-right: 0px;
       margin-bottom: 50px;
   }
   
   
   .team-card>img {
       width: 100%;
       height: 100%;
   }

   .team-card-name {
       font-size: 5.8rem;
       transition: all 800ms;
   }

   /* Review styles */

   .review {
       flex-direction: column;
   }

   .form-container {
       max-width: 100%;
       margin-right: 0%;
       margin: 0 auto;
   }

   .map {
    padding-top: 50px;
    width: 630px;
    margin: 0 auto;
   }

   /* Contact styles */

   .contact {
       padding: 0% 10%;
       font-size: 2.6rem;
   }

    .social-item img{
        width: 10%;
    }


}

/* Less than 992px  */

@media screen and (max-width: 768px) {
    :root {
        font-size: 4px;
    }

    /* Header styles */

    /* Gallary style */
    .gallery {
        padding: 150px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2%;
        margin-bottom: 100px;
    }

    .gallery-center {
        display: flex;
        flex-direction: column;
    }

    .gallery-left,
    .gallery-right,
    .first-left,
    .first-right {
        padding-bottom: 20px;
    }

    /* Services style */
    .services-right {
        display: none;
    }

    /* Team style */

    .team-list {
        display: flex;
        flex-direction: column;
    }

    .team-card {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .team-card.last {
        margin-left: 10%;
        margin-bottom: 0px;
    }

    .team-card-name {
        font-size: 12rem;
    }

    /* Review styles */

    .review {
        flex-direction: column-reverse;
    }

    .form-container {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        box-sizing: border-box;
    }

    .form-title {
        width: 80%;
        margin: 10px auto;
    }

    .form-header input {
        height: 40px;
    }


    .input-message {
        margin-top: 35px;
        height: 105px;
        width: 97%;
    }

    .input-email {
        width: 57%;
        display: flex;
    }

    .map {
        padding-top: 0px;
        max-width: 400px;
        margin-bottom: 20px;

    }

    .map iframe {
        height: 387px;
    }
    /* Contact styles */

    .contact {
        padding: 0% 8%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 6rem;
    }

    .social {
        margin: 0 auto;
    }
    .social img {
        margin-right: 10px;
        margin-left: 50px;
        width: 10%;
    }

    .social-item {
        text-align: left;
        /* margin-left: 33%; */
    }

    .contact-left, 
    .hours-work,
    .social {
        margin-bottom: 20px;
    }

    .contact .hours-title {
        margin-bottom: 0px;
        font-size: 7.2rem;
    }

}
