body {
    background-color: grey;

}

.wrapper {
    width: 700px;
    height: 250px;
    margin: auto;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}

.wrapper__btn_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.btn {
    font-size: 20px;
    width: 120px;
    padding: 1%;
    border-radius: 20px;
    border: none;
    background-color: aqua;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: palevioletred;
}

.main_text {
    font-size: 40px;
    text-align: center;
}

.text {
    font-size: 30px;
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}