body {
    font-family: 'PT Sans', sans-serif;
    background-color: #FBE4FF;
    margin: 0 auto;   
}

header {
    background-color: #243B93;
    height: 65px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 7px;
}


.width {
    max-width: 1320px;
    margin: 0 auto;
}
.nav-menu {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 0px;
    width: 850px;
    box-sizing: border-box;
}

.nav-menu-item {
    list-style: none;
}

.nav-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.header-text-ua {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;    
    color: #FFFFFF;
    padding-left: 10px;
    box-sizing: border-box;
}


.main-title {
    background-color: #BFF0FF;
}
.main-title-text {
    display: flex;
    align-items: center;
    height: 85px;
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #202846;
    
}

.rent-house-list {
    padding-top: 27px;
}

.location {
    border: 1px solid #000000;
    width: 100%;
    height: 57px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    padding-left: 500px;
    padding-right: 12px;
    box-sizing: border-box;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.61);
}

.cards {
    box-sizing: border-box;
    
}

.card {
    background: linear-gradient(to right, #ADCBD4, #00AEE5);
    margin-bottom: 42px;
    box-sizing: border-box;
    display: flex;
    padding: 0px 52px 21px 52px;
    position: relative;
}

.card:hover {
    cursor: pointer;
    background-color: #2CBDEB;
    box-shadow: 0px 0px 60px 0px #2CBDEB;
    transition: ease-in .05s;

}

.card-image {
    margin-top: 33px;
}


.main-information {
    box-sizing: border-box;
    margin-left: 30px;
    margin-top: 14px;
}
.card-title {
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #353C57;
    margin: auto;
}

.card-line {
    height: 3px;
    background-color: #FFFFFF;
}

.card svg {
    position: absolute;
    right: 10px;
    top: 6px;
}

.card-text {
    height: 205px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #202846;
    background-color: #EDFBFF;
    padding: 10px 100px 0px 16px;
    box-sizing: border-box;
}

.card path:hover {
    fill: #FFF500;
    transition: ease-in .05s;
}



.card-button {
    width: 210px;
    height: 46px;
    border-radius: 30px;
    background-color: #243B93;
    position: absolute;
    bottom: 11px;
    right: -30px;
    box-sizing: border-box;
    text-align: center;
    padding: 4px 32px 11px 38px;
}

.card-button:hover {
    background-color: #EF075B;
    transition: ease-in .05s;

}

.card-button-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;   
}

.second-title {
    height: 85px;
}
.second-title.right {
    background: linear-gradient(to right, #FFE601, #55D6FF);
}

.second-title-text {
    display: flex;
    align-items: center;
    height: 85px;
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #243B93;
}

.cabinet {
    display: flex;
    flex-direction: column;
    padding-bottom: 56px;
    box-sizing: border-box;
}

.contact-container {
    padding: 46px 81px 44px 148px;
    box-sizing: border-box;
    display: flex;
    background: linear-gradient(to bottom, #859EFF, #69FFD2);
    height: 498px;
    width: 100%;
    margin-top: 36px;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 31px;
    padding-bottom: 32px;
    box-sizing: border-box;
}

.avatar-image {
    margin-bottom: 35px;
}

.change-avatar-button, 
.setting-button {
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 10px 38px;
    border-radius: 30px; 
}

.change-avatar-button {
    margin-bottom: 26px;
}

.blue {
    background-color: #243B93;
}

.red {
    background-color: #EF075B;
}

.user-card {
    width: 78%;
    padding-left: 127px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-card-line {
    height: 3px;
    background-color: #FFFFFF;
}

.card-main-text {
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #353C57;
}

.card-second-text {
    font-weight: 400;
}

.all-cabinet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exit-button-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    width: 174px;
    box-sizing: border-box;
    background-color: #243B93;
    border-radius: 30px;
    text-align: center;
    margin-top: 19px;
    padding: 10px 0px;
}

.second-title.left {
    background: linear-gradient(to left, #FFE601, #55D6FF);
}

.information-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 25px 0px;

}

.contact-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom: 103px;
    padding-right: 115px;
  }


.tel-title,
.mail-title,
.adress-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    color: #000000;
    margin: 0;
}

.contact-mail-adress,
.contact-tel-number,
.contact-adress-position {
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    text-decoration: none;
}

.contact-line {
    border: 3px solid #202846;
    background-color: #202846;
}

iframe {
    border: 3px solid #243B93;
    border-radius: 40px;
    min-width: 499px;
    min-height: 290px;
}

footer {
    background-color: #243B93;
    height: 65px;
    box-sizing: border-box;
}

.footer-text {
    padding: 23px 0px;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.up-arrow {
    width: 101px;
    height: 101px;
    background-color: #300C6A30;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 1380px;
    z-index: 99;
    border-radius: 50%;
}

.up-arrow:hover {
    background-color: #300C6A80;
}