:root {
    --main-color: #FCFDFB;
    --second-color: #FFCD29;
}

.goods-container {
    padding: 32px;
    margin: 40px 228px 430px 140px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.05);
}

.goods-main-content {
    display: flex;
    justify-content: space-between;
}

.main-content-image {
    width: 42.7%;
    display: flex;
    flex-direction: column;
}

.goods-description {
    width: 50%;
    padding: 0px 0px 40px 40px;
    height: 59%;
}

.big-image {
    width: 100%;
    margin-bottom: 1%;
}

.little-image {
    display: flex;
    justify-content: space-between;
}

.goods-description {
    display: flex;
    flex-direction: column;
}

.description-title {
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ADF5D6;
}

.price-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.goods-price {
    font-weight: 600;
    font-size: 36px;
    line-height: 33px;
    text-transform: uppercase;
    color: var(--second-color);
}

.corrency {
    margin-left: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-color);
}

.description-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
