:root {
    --main-color: #FFFFFF;
    --second-color: #FFCD29;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0F2330;
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

h1, p {
    margin: 0;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 40px;
    align-items: center;
    border: 1px solid #354651;
    box-sizing: border-box;
    background-color: #0F2330;
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
}

.logo {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: var(--main-color);
}

.logo>.yellow {
    color: var(--second-color);
}


.search-exit {
    display: flex;
    align-items: center; 
    box-sizing: border-box;
}

.search-input {
    margin-right: 50px;
    width: 372px;
    height: 56px;
    background-color:rgba(255, 255, 255, 0.06);
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    padding: 20px 8px 20px 40px;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: var(--main-color);
    background-image: url(../img/main-content/search.svg);
    background-repeat: no-repeat;
    background-position: 40px;
}
.search-input:focus {
    background-image: none;
    background-image: url(../img/main-content/close-icon.svg);
    background-size: 32px 32px;
    background-position: right 3% top 50%;
    outline: 1px solid var(--second-color);
}

/* FILTER SECTION */
.search-container {
    padding: 40px 373px 20px 373px;
    box-sizing: border-box;
}

.search-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 40px;
}

.search-first-row-list input, 
.search-second-row-list input {
    appearance: none;
    display: none;
    margin: 0;
    padding: 0;
}

.search-first-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.search-first-row-list {
    display: flex;
    justify-content: space-between;
}

.search-first-row-list.left {
    width: 72%;
}
.search-first-row-list.right {
    display: flex;
    justify-content: end;
    gap: 10%;
    width: 20%;
}

.search-second-row-list {
    width: 100%;
    display: flex;
    justify-content: space-between;    
}

.radio-label-first-row-left {
    height: 54px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.06);
    color: var(--main-color);
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.25px;
    padding: 17px 12px;
}

.close-icon {
    display: none;
}

.radio-label-first-row-left:hover {
    background-color: var(--second-color);
    color: #0F2330;
    padding: 17px 0px 17px 12px;
}

.radio-label-first-row-left:hover .close-icon {
    display: flex;
    margin-top: 2px;
    align-items: center;
}

.radio-label-first-row-right {
    height: 54px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 17px;   
}

.radio-label-first-row-right path {
    fill: var(--main-color);
}

.radio-label-first-row-right:hover {
    background-color: var(--second-color);
}

.radio-label-first-row-right:hover path {
    fill: #0F2330;
}

.search-second-row-list .radio-label {
    height: 54px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.06);
    color: var(--main-color);
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.25px;
    padding: 20px;
}

.search-second-row-list .radio-label:hover {
    background-color: #0F2330;
    border: 1px solid var(--second-color);
    box-sizing: border-box;
    color: var(--second-color);
}

.search-second-row-list .radio-label:hover .close-icon{
    display: flex;
}


.search-result {
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.25px;
    color: var(--main-color);
}

/* GOODS */

.goods-container {
    padding: 20px 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.card {
    width: 23%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.card:hover {
    background-color: #0000FF;
}

.card-image>img {
    width: 100%;
    margin-bottom: 20px;
}

.card-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ADF5D6;
    margin-bottom: 20px;
}

.card-subtitle {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: var(--second-color);
    margin-right: 46px;
    
}

.basket {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--second-color);
}

/* LOAD MORE */

.load-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-button {
    font-family: 'Roboto', sans-serif;
    width: 116px;
    height: 36px;
    padding: 6px;
    background-color: var(--second-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #0F2330;
    cursor: pointer;
    border: none;
}

.load-button:hover {
    border: 1px solid var(--second-color);
    background-color: #0F2330;
    color: var(--second-color);
}






